html {
    font-size: 10px;
    background: url('./images/bookImage.jpeg') bottom center;
    background-size: cover;
    background-blend-mode: lighten;
  }

.question{
    color:  green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.answer{
    color: yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .difficulty{
    color: brown;
    font-size: 20px;
}

.number{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#button{
    background-color: lightblue;  
    color: black;  
    font-size: 20px;  
    justify-content: center;  
    align-items: center;  
    border: 2px solid #4CAF50; /* Green */
}

#bulletlist{
    font-size: 20px;
    color: yellowgreen;  
    margin-bottom: 10px;
}

